<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 映射数据类型 -->
	<typeAliases>
		<package name="priv.dengjl.person.bean" />
	</typeAliases>

	<!-- 自动扫描mapping.xml文件,这里将采用package方式，dao和xml包分开报错了，将xml放于mapperLocations中 -->
</configuration>