<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="priv.dengjl.mapper.PersonMapper">
	<resultMap id="BaseResultMap" type="priv.dengjl.entity.Person">
		<result column="ID" jdbcType="INTEGER" property="id" />
		<result column="DISPLAY" jdbcType="VARCHAR" property="display" />
		<result column="NAME" jdbcType="VARCHAR" property="name" />
		<result column="PHONE" jdbcType="VARCHAR" property="phone" />
		<result column="ADDRESS" jdbcType="VARCHAR" property="address" />
		<result column="BIRTHDATE" jdbcType="TIMESTAMP" property="birthdate" />
		<result column="REMARK" jdbcType="VARCHAR" property="remark" />
	</resultMap>

	<select id="getPerson" parameterType="int" resultType="priv.dengjl.entity.Person">
		SELECT * FROM PERSON WHERE ID = #{id}
	</select>

	<select id="listPersons" resultType="priv.dengjl.entity.Person">
		SELECT * FROM PERSON
	</select>

	<insert id="addPerson" parameterType="priv.dengjl.entity.Person">
		insert into PERSON (id,
		display, name, phone, address, birthdate, remark)
		values (#{id},
		#{display}, #{name}, #{phone}, #{address}, #{birthdate}, #{remark})
	</insert>

	<delete id="deletePerson" parameterType="priv.dengjl.entity.Person">
		delete from PERSON where
		id = #{id}
	</delete>

	<update id="updatePerson" parameterType="priv.dengjl.entity.Person">
		update PERSON set
		display = #{display},
		name = #{name},
		phone = #{phone},
		address = #{address},
		birthdate = #{birthdate},
		remark = #{remark}
		where id = #{id}
	</update>
</mapper>